.header {
    display: flex;
    background: transparent;
    user-select: none;
    position: fixed;
    height: 60px;
    width: 100%;
    transition: background .4s, padding .4s;
}

.header span {
    color:rgb(15, 3, 83);
    font-weight: 800;
}


.header._fixed {
    background: #ffffff;
    height: 50px;
    position: fixed;
    
}



  
body{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 44%, rgba(251,249,249,1) 71%, rgba(232,230,230,1) 100%); 


}
#logo_main{
    padding-left: 5%;
    padding-top: 20px;
    font-size: 25px;
    transition: background .5s, padding .5s;
   
    
}
#logo_main._fixed{
    padding-left: 3%;
    padding-top: 15px;
    font-size: 20px;

}

.left{
    width: 80%;
    float: left;
}
.right{
    width: 20%;
    padding-top: 20px;
    float: left;
}


    

/* .data{
    width: 100%;
 
    height: 500px;
}*/
.first_body{
    width: 100%;
    height: 434px;
    background-image: url(img/basheer.jpg);
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 232px;
    padding-left: 5%;
   
 }
.second_body{
    width: 100%;
    height: 434px;
    background-image: url(img/onv.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 232px;
    padding-left: 5%;
}
.basf{
    color: #211c46;
font-size: 29px;

font-weight: 800;
letter-spacing: 2px;
}
.onvf{
    color: #211c46;
font-size: 29px;

font-weight: 800;
letter-spacing: 2px;

}
a:hover {
    color: #211c46;
    text-decoration: none;
    
}
.footer{
    background: rgb(80, 80, 80);
    width: 100%;
    height: 450px;
    color: white;
    padding-top: 20px;
    
}
.footer_obj{
    margin-left: 10%;
    
    
}
