.header{
    width: 100%;
    height: 60px;
    color: black;
    /*background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 44%, rgba(251,249,249,1) 71%, rgba(232,230,230,1) 100%); 
*/   background: white;

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 3px 5px rgba(171, 177, 187, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(194, 195, 197, 0.3);
    box-shadow: 0 3px 5px rgba(136, 137, 139, 0.3);
  }
  
.sticky + .content {
    padding-top: 102px;

  }
  
body{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 44%, rgba(251,249,249,1) 71%, rgba(232,230,230,1) 100%); 

}
.logo{
    padding-left: 5%;
    padding-top: 20px;
    font-size: 28px;
   
    
}
.fname{
  font-weight: 900;
  color: rgb(15, 3, 83);
  
}
.left{
    width: 80%;
    float: left;
}
.right{
    width: 20%;
    padding-top: 20px;
    float: left;
}
.basf{
    color: #211c46;
font-size: 29px;

font-weight: 800;
letter-spacing: 2px;
}
    

/* .data{
    width: 100%;
 
    height: 500px;
}*/
.first_body{
    width: 100%;
    height: 434px;
    background-image: url(img/basheer.jpg);
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 232px;
    padding-left: 5%;
}
.second_body{
    width: 100%;
    height: 434px;
    background-image: url(img/onv.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 232px;
    padding-left: 5%;
}
.onvf{
    color: #211c46;
font-size: 29px;

font-weight: 800;
letter-spacing: 2px;

}