

#nav {
    background: #f8f9fa;
    height: 56px;
    margin: 10px;
}
#row{
 
  height: 2000px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  

}
.left-top{
   
    float: left;
    height: 100px;
    
    
}
.right-top{
    height: 100px;
  
    float: left;
    }
.r{
    color: indianred;
}
.container{
    width: 100%;
    padding-top: 100px;
    
}
.basheer{
    float: left;
   
   
    
}
.highlight-para{
margin-bottom: 15px;
color: #fff;
font-size: 16px;
line-height: 32px;
}

.basheer-quote{
    float: left;
    color: rgb(3, 3, 3);
    font-weight: bolder;
    padding-top: 150px;
  
   
    font-family: Verdana,Tahoma,Arial,sans-serif;
    
   
}

.nair{
    float: left;
    padding-left: 0;
}
.logo{
   font-family:Bradley Hand, cursive;
   margin-right: 10px;
  
}


a:link {
        color: rgb(131, 10, 201);
        text-decoration: none;
      }
      
      /* visited link */
 a:visited {
        color: rgb(18, 25, 124);
        text-decoration: none;
      }
      
      /* mouse over link */
a:hover {
        color: rgb(160, 27, 172);
        text-decoration: none;
      }
      
      /* selected link */
:active {
        color: rgb(0, 255, 64);
        text-decoration: none;
     }