#header{
    width: 100%;
    height: 80px;
    color: black;

}
.logo{
    padding-left: 5%;
    padding-top: 20px;
    font-size: 25px;
    
}
.fname{
  font-weight: 900;
  color: rgb(15, 3, 83);
  
}
.left{
    width: 80%;
    float: left;
}
.right{
    width: 20%;
    padding-top: 20px;
    float: left;
}
.basf{
    color: #211c46;
font-size: 43px;

font-weight: 800;
letter-spacing: 2px;
}
    

/* .data{
    width: 100%;
 
    height: 500px;
}*/
.body{
    width: 100%;
    height: 434px;
    margin: 5px;
    background-image: url(img/basheer.jpg);
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 300px;
  
}